<div class="bottom-nav">
  <ul>
    <li>
      <a href="#"
        ><span><i class="fa-solid fa-house"></i></span> Home</a
      >
    </li>
    <li>
      <a href="#"
        ><span><i class="fa-solid fa-magnifying-glass"></i></span> Explore</a
      >
    </li>
    <li>
      <a href="#"
        ><span><i class="fa-solid fa-gift"></i></span> Featured</a
      >
    </li>
    <li>
      <a href="#"
        ><span><i class="fa-solid fa-arrow-trend-up"></i></span> Trending</a
      >
    </li>
    <li>
      <a href="#"
        ><span><i class="fa-solid fa-plus"></i></span> New Arrivals</a
      >
    </li>
  </ul>
</div>
