<nav class="navbar">
  <h1>Logo</h1>
  <ul class="nav-actions">
    <li>
      <button class="btn outline">
        <span><i class="fa-solid fa-phone"></i></span> Talk to Expert
      </button>
    </li>
    <li>
      <button class="btn outline">
        <span><i class="fa-solid fa-user"></i></span> User
      </button>
    </li>
    <li>
      <button class="btn outline">
        <span
          ><i class="fa-regular fa-bell"></i
          ><span class="notification-dot"></span
        ></span>
      </button>
    </li>
  </ul>
</nav>
